	<head>

	</head>
	<body>
		<div class="container">
			<div class="description">
				<h1>Step 3. Let's set the due-date to make answers of problems!</h1>
				<h2>If you click 'now' You have to write the solution right now</h2>
				<h2>If you click 'After' You can set the due-date</h2>
				
			<div class="list" style="padding:50px">
			<h4>I have to decide whether to apply for intership of Asan</h4>

				<button type="button" class="btn">Now</button>
				<button type="button" class="btn">After</button>
				<br>
			<h4>My friend scolded me about what I didn't do</h4>

				<button type="button" class="btn">Now</button>
				<button type="button" class="btn">After</button>
				<br>
			<h4>I have to find my old images for my projects</h4>

				<button type="button" class="btn">Now</button>
				<button type="button" class="btn">After</button>
				<br>			
			<h4>I have to submit my cover letter for my job</h4>

				<button type="button" class="btn">Now</button>
				<button type="button" class="btn">After</button>
				<br>
			</div>

		</div>


			<%= link_to 'Finish',today_problems_path, class: "btn" %>

				
	</body>
