<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="container">
			<div class="description">
			<h1>Step 2</h1>
			<h2>Devide them into 2 groups, worry and fear</h2>
			<h2>We will destroy all the fears later</h2>
			<h2> You're done, hit the 'Next'!</h2>
			<h4>Notice: worry is real problem part and fear is just feeling or unrealistic concerns of future</h4>
			
			</div>

			<div class="prob-before">

			<div class="list">

			</div>

			<div class="next">
			<%= link_to "Next", step3_problems_path,  class: "btn" %>

		</div>

	</body>
</html>


<!-- 
#checkbox form
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Worry
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Fear
</label>

##button form 
# blue
<button type="button" class="btn btn-primary">Primary</button>
# red
<button type="button" class="btn btn-danger">Danger</button>
-->
