
	<head>
	</head>
	<body>
		<div class="list"; agign="center" ; style="padding:100px ; padding-left:500px">
		<h1 style="font-size: 50px">Today's problems</h1>
		<br>
		<br>
		<br>
		<div class="bflist" style="padding-top:100px">
		<h1 style="font-size: 50px"; align="center"; style="padding:100px; padding-left:500px">Today's problem(without solution)</h1>
		<br>
		<br>
		<br>

	</body>
</html>