<!DOCTYPE html>

<html>
<head>
<link rel=”stylesheet” type=”text/css” href="welcome.scss">
	<title>Feworry</title>
</head>
<body>

	<div class="container">
		<h1  style= "background-color:yellow" ; align="center">Welcome to Feworry!</h1>
		<br>
		<br>
		<div class="contents" ; align="center">
			<div class="row">
			<br>
			<h2>When you have a lot of concerns in your mind,</h2>
			<br>
			<h2>You think you are getting trouble to make order of your problems</h2>
			<br>
			<br>
			<h2>I stronglly recommend you to use this app</h2>
			<h1 style="font-size: 50px">Feworry!</h1>
			<br>
			<h2>Feworry means </h2>
			<h2>Fear+Worry</h2>
			<br>
			<br>
			<h2>So, How does <p style= color: orange;>Feworry</p> controls our problems?</h2>
			<br>
			<br>
			<br>
			<br>
		</div>
			</div>
			<div class="row", align="center"; >
				<div class ="col-sm-4">
				<h1>Step 1</h1>
				<h2>Fisrt, You write your problems all.</h2>
				
				</div>
				<div class ="col-sm-4">
				<h1>Step 2</h1>
				<h2>Devide them into 2 groups, worry and fear</h2>
				<h2>We will destroy all the fears later</h2>
				<h4>Notice: worry is real problem part and fear is just feeling or unrealistic concerns of future</h4>
			     <br>
			     </div>
				<div class ="col-sm-4">
				<h1>Step 3</h1>
				<h2>And then, set the date "when" you will consider them!<br> If you can get any solution of the problem, write it right a way!</h2>
				<br>
				<br>
				<h3>So now you don't have to think about all the problems 
				<br>because you put the problems rest off!</h3>
				<br>
				<br>
				</div>
			</div>

		<div class="row">
	 		<div class="col-sm-12" float="center">
		
				<%= link_to 'Start Right Now',today_path, class: "btn btn-primary btn-lg" %>
				<%= 'Tutorial' %>
			</div>
		</div>
	<br>
	<br>
	<br>
	
	<div class="footer">
		<id copy>copyright&cTeamJS</h2>
		<id contact>contact</h2>

	</div> 
</body>
</html>
